<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">
<hibernate-mapping>

	<class name="beans.Profile" table="Profile">
		<id name="profileId" column="id">
			<generator class="increment"></generator>
		</id>
		<property name="profileName"></property>
		<property name="firstName"></property>
		<property name="lastName"></property>
		<property name="created"></property>
	</class>

</hibernate-mapping>